/*-- scss:defaults --*/
$link-color: #b90202;
$popover-bg: #b90202;
$code-color: #b90202;

/* could replace td with a more specific selector */
td:first-child {
    text-wrap: nowrap;
    text-size-adjust: 100%;
  
  }
td:first-child a {
word-break: normal;
}


.slide-deck {
  border: 3px solid #dee2e6;
  width: 80%;
  height: 500px;
}